.button {
    width: 167.65px;
    height: 38px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    outline: none;
    border: none;
    border-radius: 20px;
    color: var(--color-light);
    box-shadow: 0px 4px 4px 0px var(--color-box-shadow);
}

.roundBtn {
    width: 37px;
    height: 37px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px var(--color-box-shadow);
    outline: none;
    border: none;
    font-size: 1.2rem;
}