.header {
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
}

.header {
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    min-height: 345px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px var(--color-box-shadow);
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 1rem;
}