:root {
  --color-light: #FFFFFF;
  --color-light-secondary: #F1F1F1;
  --color-primary-gray: #3B3B3B;
  --color-secondary-gray: #9B9B9B;
  --color-tert-gray: #626262;
  --color-box-shadow: #00000040;
  --color-limegreen: #9DFF5B;
  --color-red: #FF3838;
  --color-gold: #F4BB4A;
  --color-seagreen: #43967B;
  --color-lightgray: #D9D9D9;
  --color-text-gray: #919191;
  --box-shadow: '0px 4px 4px 0px #00000040';
  --color-dark: #000000;
}
/* linear-gradient(90deg, #B5DC52 0%, #89E148 100%); */
/* background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%); */

/* fonts to be used: */
  /* Ubuntu
  OpenSans */

*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary-gray);
  color: var(--color-light);
}